<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Templates</title>
</head>
<body style="background-color:magenta">
<p><img src="{{url_for('static', filename='skyline.jpg')}}" /></p>
<h1>Hi {{name}}. How are you finding Flask sessions?</h1>

{%if name=='Nahum':%}
<p>You are the admin</p>
{%else%}
<p>You are a normal user</p>
{%endif %}
<table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for key in student_ages %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{student_ages[key]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>